---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Welcome to Astro.">
	<section class="w-full h-[85vh] flex items-center justify-center bg-gray-200">
        <div class="w-4/5 h-auto py-5 m-auto flex items-center justify-around">
            <h1 class="text-3xl text-center">¡Ooh! Página no encontrada</h1>
            <img class="w-2/5" src="../../public/img/404.png" alt="Error">

        </div>
    </section>
</Layout>