---

---

<section class="w-full min-h-[35rem] pb-12 p-1 px-12 bg-gray-200">
  <div class="w-full h-auto m-auto">
    <h2 class="text-3xl mb-5">Autos destacados</h2>
    <div
      class="w-full h-full grid grid-cols-3 grid-rows-2 place-items-center gap-4"
    >
      <div
        class="w-5/6 min-h-96 mb-5 p-3 rounded-lg bg-gray-100 shadow-lg place-self-start"
      >
        <img
          class="w-full h-44 rounded-lg"
          src="../../public/img/corsa.jpg"
          alt="Auto"
        />
        <h3 class="w-full text-xl my-2 flex justify-between">
          Chevrolet Corsa <span
            class="text-base bg-gray-400 border border-dashed px-2 rounded-xl"
            >2006</span>
        </h3>
        <div class="w-full h-auto mt-7 flex">
          <p class="w-2/4 text-xs flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/people.png" />
            4 personas
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/speed.png" />
            160 Km/h
          </p>
        </div>

        <div class="w-full text-xs h-auto mt-3 flex">
          <p class="w-2/4 flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/oil.png" />
            Nafta
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/steering.png" />
            Manual / Automática
          </p>
        </div>

        <div class="mt-7 border-b border-gray-500"></div>

        <div class="w-full mt-3 flex items-center justify-between">
          <h2 class="text-xl">$75000 / mes</h2>
          <div>

            <button
              class="bg-blue-800 hover:bg-blue-600 text-white rounded-xl py-2 px-3"
            >
              Rentar ahora
            </button>
          </div>
        </div>
      </div>

      <div class="w-5/6 min-h-96 mb-5 p-3 rounded-lg bg-gray-100 shadow-lg">
        <img
          class="w-full h-44 rounded-lg"
          src="../../public/img/cronos.jpg"
          alt="Auto"
        />
        <h3 class="w-full text-xl my-2 flex justify-between">
          Fiat Cronos <span
            class="text-base bg-gray-400 border border-dashed px-2 rounded-xl"
            >2019</span>
        </h3>
        <div class="w-full h-auto mt-7 flex">
          <p class="w-2/4 text-xs flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/people.png" />
            4 personas
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/speed.png" />
            160 Km/h
          </p>
        </div>

        <div class="w-full text-xs h-auto mt-3 flex">
          <p class="w-2/4 flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/oil.png" />
            Nafta
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/steering.png" />
            Manual / Automática
          </p>
        </div>

        <div class="mt-7 border-b border-gray-500"></div>
        <div class="w-full mt-3 flex items-center justify-between">
            <h2 class="text-xl">$66000 / mes</h2>
            <div>
  
              <button
                class="bg-blue-800 hover:bg-blue-600 text-white rounded-xl py-2 px-3"
              >
                Rentar ahora
              </button>
            </div>
          </div>
      </div>

      <div
        class="w-5/6 min-h-96 mb-5 p-3 rounded-lg bg-gray-100 shadow-lg place-self-end"
      >
        <img
          class="w-full h-44 rounded-lg"
          src="../../public/img/fiesta.jpeg"
          alt="Auto"
        />
        <h3 class="w-full text-xl my-2 flex justify-between">
          Ford Fiesta <span
            class="text-base bg-gray-400 border border-dashed px-2 rounded-xl"
            >2010</span>
        </h3>
        <div class="w-full h-auto mt-7 flex">
          <p class="w-2/4 text-xs flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/people.png" />
            4 personas
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/speed.png" />
            160 Km/h
          </p>
        </div>

        <div class="w-full text-xs h-auto mt-3 flex">
          <p class="w-2/4 flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/oil.png" />
            Nafta
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/steering.png" />
            Manual / Automática
          </p>
        </div>

        <div class="mt-7 border-b border-gray-500"></div>
        <div class="w-full mt-3 flex items-center justify-between">
          <h2 class="text-xl">$81000 / mes</h2>
          <div>

            <button
              class="bg-blue-800 hover:bg-blue-600 text-white rounded-xl py-2 px-3"
            >
              Rentar ahora
            </button>
          </div>
        </div>
      </div>

      <div
        class="w-5/6 min-h-96 p-3 rounded-lg bg-gray-100 shadow-lg place-self-start"
      >
        <img
          class="w-full h-44 rounded-lg"
          src="../../public/img/focus.jpg"
          alt="Auto"
        />
        <h3 class="w-full text-xl my-2 flex justify-between">
          Ford Focus <span
            class="text-base bg-gray-400 border border-dashed px-2 rounded-xl"
            >2009</span>
        </h3>
        <div class="w-full h-auto mt-7 flex">
          <p class="w-2/4 text-xs flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/people.png" />
            4 personas
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/speed.png" />
            160 Km/h
          </p>
        </div>

        <div class="w-full text-xs h-auto mt-3 flex">
          <p class="w-2/4 flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/oil.png" />
            Nafta
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/steering.png" />
            Manual / Automática
          </p>
        </div>

        <div class="mt-7 border-b border-gray-500"></div>
        <div class="w-full mt-3 flex items-center justify-between">
          <h2 class="text-xl">$76000 / mes</h2>
          <div>

            <button
              class="bg-blue-800 hover:bg-blue-600 text-white rounded-xl py-2 px-3"
            >
              Rentar ahora
            </button>
          </div>
        </div>
      </div>

      <div class="w-5/6 min-h-96 p-3 rounded-lg bg-gray-100 shadow-lg">
        <img
          class="w-full h-44 rounded-lg"
          src="../../public/img/logan.png"
          alt="Auto"
        />
        <h3 class="w-full text-xl my-2 flex justify-between">
          Renault Logan <span
            class="text-base bg-gray-400 border border-dashed px-2 rounded-xl"
            >2017</span>
        </h3>
        <div class="w-full h-auto mt-7 flex">
          <p class="w-2/4 text-xs flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/people.png" />
            4 personas
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/speed.png" />
            160 Km/h
          </p>
        </div>

        <div class="w-full text-xs h-auto mt-3 flex">
          <p class="w-2/4 flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/oil.png" />
            Nafta
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/steering.png" />
            Manual / Automática
          </p>
        </div>

        <div class="mt-7 border-b border-gray-500"></div>
        <div class="w-full mt-3 flex items-center justify-between">
          <h2 class="text-xl">$102000 / mes</h2>
          <div>

            <button
              class="bg-blue-800 hover:bg-blue-600 text-white rounded-xl py-2 px-3"
            >
              Rentar ahora
            </button>
          </div>
        </div>
      </div>

      <div
        class="w-5/6 min-h-96 p-3 rounded-lg bg-gray-100 shadow-lg place-self-end"
      >
        <img
          class="w-full h-44 rounded-lg"
          src="../../public/img/meriva.jpg"
          alt="Auto"
        />
        <h3 class="w-full text-xl my-2 flex justify-between">
          Chevrolet Meriva <span
            class="text-base bg-gray-400 border border-dashed px-2 rounded-xl"
            >2006</span>
        </h3>
        <div class="w-full h-auto mt-7 flex">
          <p class="w-2/4 text-xs flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/people.png" />
            4 personas
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/speed.png" />
            160 Km/h
          </p>
        </div>

        <div class="w-full text-xs h-auto mt-3 flex">
          <p class="w-2/4 flex h-auto">
            <img class="w-7 mr-2" src="../../public/img/oil.png" />
            Nafta
          </p>

          <p class="w-2/4 text-xs flex h-auto ml-7">
            <img class="w-7 mr-2" src="../../public/img/steering.png" />
            Manual / Automática
          </p>
        </div>

        <div class="mt-7 border-b border-gray-500"></div>
        <div class="w-full mt-3 flex items-center justify-between">
          <h2 class="text-xl">$69500 / mes</h2>
          <div>

            <button
              class="bg-blue-800 hover:bg-blue-600 text-white rounded-xl py-2 px-3"
            >
              Rentar ahora
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
